@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color: #d0637c;
    --secondary-color: #edeef3;
}
*{
    box-sizing: border-box;
}

body{
    background-color: var(--secondary-color);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

html{
    transition: all 0.5s ease-in;
}

html.dark{
    --primary-color: #fff;
    --secondary-color: #161616;
}

html.dark{
    background-color: #111;
    color: var(--primary-color);
}


header{
   padding: 1rem; 
   display: flex;
   justify-content: flex-end;
   background-color: var(--secondary-color);
   
}

.input{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #edeef3;
}

.input::placeholder{
    color: #d0637c;
}

.input:focus{
    outline: none;
    background-color: var(--primary-color);
}

html.dark .input:focus{
    color: #d0637c;
}

.auto{
    
    color: #d0637c;
    border-radius: 10px;
    padding: 0.8rem
    
}

.title{
    
    cursor: pointer;
    font-size: 14px;
}

.user{
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    color: #d0637c;  
}

.back{
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    color: #d0637c;
    position: absolute; 
    left: 20px;
}



#container{
    position: relative;
    background: #000;
    display: flex;
    padding: 4px 5px 5px 5px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    opacity: 0.7;
    right: 14px;
    top: 17px;
    transition:  0.5s ease;
    z-index: 1;
     box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); 
    
}

#container.off{
    display: none;
}

#container.on{
    display: block;
}




html.dark #container{
    background: transparent;
    
}

#container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

#container li{
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    list-style: none;
    border-bottom: 0.2px solid #d0637c;
   
}

#container li:last-child{
    border-bottom: none;
}

#container li a{
    display: block;
    padding: 3px 16px;
    width: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;  
    text-decoration: none;
    font-size: 13px;
    color: #d0637c;
}

#container .toggle{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 10px;
    padding: 4px 12px;
    
    top: 100px; 
}


    
    


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.book{
    overflow: hidden;
    width: 300px;
    
  
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 8px;

}

.book img{
    width: 100%;
    object-fit: cover;
    /* object-fit: cover;
    width: 300px;
    position: absolute; */
   
    
}

.infoText{
    /* position: absolute; */
    color: #d0637c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem 0.5rem;
    letter-spacing: 0.6px;
    left: 0;
    background-color: #f2f3f4;
    line-height: 20px;
    width: 100%;
}




.infospan{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 72%;
    color: #edeef3;
    
}

html.dark .infospan{
    /* color: #d0637c; */
    background-color: #d0637c;
}

.synopsis{
    position: relative;
    background-color: #f2f3f4;
    padding: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0%;
   
    transform: translateY(100%);
    transition: transform 0.2s ease;
    
    
}

html.dark .synopsis{
    background-color: #111;
}

.synopsis .text{
  line-height: 15px;  
  font-size: 12px;
  
}



.book:hover .synopsis{
    transform: translateY(0);
}

.book .add{
   margin: auto;
    background-image: linear-gradient(135deg, #d0637c 40%, #dd868c);
    border: 0;
  border-radius: 30px;
  box-sizing: border-box;
  color: #f2f3f4;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  height: 45px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;  
  transition: all 200ms;
}

/* .book .read{
    margin: auto;
    background-image: linear-gradient(135deg, #4b6043 40%, #87ab69);
    border: 0;
  border-radius: 30px;
  box-sizing: border-box;
  color: #f2f3f4;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  height: 45px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;  
  transition: all 200ms;  
  display: none;
} */

.book .add:hover{
    outline: none;
    transform: scale(.9);
    opacity: .95;
}

.book button:active{
    outline: none;
}


